* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #ff7f50;
}

body {
    width: 500px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 80px;
    font-weight: bold;
}


li {
    display: block;
    list-style: none;
    margin: 20px 0;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}